/* Variables */

:root {
  --basic-black: #000000;
  --basic-black-opacity: RGBA(0, 0, 0, 0.3);
  --basic-dark: #333333;
  --basic-rating: #666666;

  --basic-light-grey: #F2F2F2;

  --input-hover-grey: #EBEBEB;
  --bacic-border-grey: #E5E5E5;
  --basic-toggle-grey: #ABABAB;
  --basic-toggle-shadow: RGBA(171, 171, 171, 0.3);

  --basic-grey: #EEEEEE;
  --copyright-logo-active: #BDBBBC;

  --basic-white: #ffffff;
  --basic-white-opacity: RGBA(255,255,255,0.3);
  --transparent-footer-background: rgba(255, 255, 255, 0.9);

  --basic-blue: #81B3D2;
  --basic-dark-blue: #669EC0;
  --basic-extra-dark-blue: #5496BD;

  --basic-brown: #766357;
  --basic-dark-brown: #604E43;
  --basic-extra-dark-brown: #503E33;
}


/* global */

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* img {
  width: 100%;
} */

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-dark);
  text-transform: uppercase;

  background: var(--basic-light-grey);
}

.button {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-dark);
  border: none;
  cursor: pointer;
}

.button:active {
  color: var(--basic-white-opacity);
}

/* grid */

.page {
  height: 100%;
}

.page-container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

/* caption */

.caption {
  margin: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* navigation */

.main-navigation {
  position: relative;
  display: grid;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.main-header-logo {
  display: block;
  position: absolute;
  transform: translatex(-50%);
  left: 50%;
  z-index: 2;
}

.site-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  padding-top: 14px;
  list-style: none;
}

.site-navigation-item:first-of-type {
  padding-left: 73px;
}

.site-navigation-item:last-of-type {
  padding-right: 73px;
}

.site-navigation-item:nth-child(4n-1), .site-navigation-item:nth-child(4n) {
  text-align: end;
}

.site-navigation-link {
  display: block;
  margin-bottom: 16px;
  font-weight: bold;
  text-decoration: none;
  color: var(--basic-black);
}

.site-navigation-link:not([href]) {
  color: var(--basic-brown);
}

.site-navigation-link:hover {
  color: var(--basic-blue);
}

.site-navigation-link:active {
  opacity: 0.3;
}



/* common */

.common-section {
  background-color: var(--basic-white);
  text-align: center;
}

.banner-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 509px;
  padding-top: 76px;
  background-color: var(--basic-dark);
  background-image: url(../img/background-photo-index.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-wrapper::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 57px;
  bottom: 0px;
  background-image: url(../img/background-index-mask.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.common-section-description {
  padding-top: 42px;
  padding-bottom: 52px;
}

.common-section-caption {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 42px;
  width: 470px;
}

.common-section-text {
  margin: 0;
}

/* advantages */

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantage-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc(100%/3);

  text-align: center;
}

.advantage-item-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 400px;
  min-height: 256px;
  padding-top: 47px;
  padding-right: 50px;
  padding-left: 50px;
}

.advantage-item:nth-of-type(1), .advantage-item:nth-of-type(2) {
  width: 100%;
}

.advantage-item:nth-of-type(1) .advantage-item-description,
.advantage-item:nth-of-type(2) .advantage-item-description {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.advantage-item:nth-of-type(2) .advantage-item-description {
  order: 2;
}

.advantage-item-photo img {
  display: block;
  height: 100%;
}


.advantage-caption {
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 120px;
  line-height: 22px;
  color: var(--basic-black);
}

.advantage-item:nth-child(1) .advantage-caption,
.advantage-item:nth-child(2) .advantage-caption {
  width: 150px;
  color: var(--basic-white);
}

.advantage-item-number {
  margin: 0;
  margin-bottom: 21px;
}

.advantage-text {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  width: 262px;
  line-height: 22px;
}

.advantage-item:nth-child(1) .advantage-text,
.advantage-item:nth-child(2) .advantage-text {
  width: 310px;
}

.advantage-item:last-child .advantage-text {
  width: 250px;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item {
  position: relative;
  padding-top: 158px;
  padding-bottom: 82px;
  text-align: center;
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

.feature-item::before {
  position: absolute;
  content: "";
  left: 50%;
  transform: translatex(-50%);
}

.feature-item-residence::before {
  top: 60px;
  width: 75px;
  height: 72px;
  background-image: url(../img/house-icon.svg);
}

.feature-item-food::before {
  top: 62px;
  width: 75px;
  height: 70px;
  background-image: url(../img/food-icon.svg);
}

.feature-item-souvenirs::before {
  top: 55px;
  width: 64px;
  height: 77px;
  background-image: url(../img/gift-icon.svg);
}

.feature-caption {
  margin-bottom: 20px;
}

.feature-text {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 300px;
  line-height: 22px;
}

.feature-item-residence .feature-text {
  width: 255px;
}

.feature-item-souvenirs .feature-text {
  width: 270px;
}

/* search-section */

.search-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-top: 58px;

  text-align: center;
  background-color: var(--basic-white);
}

.slogan-caption {
  margin-bottom: 31px;
  font-size: 30px;
  line-height: 24px;
}

.slogan-text {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.search-form-wrapper {
  position: relative;
  min-width: 568px;
}

.search-form-open-button {
  width: 100%;
  padding-top: 31px;
  padding-bottom: 31px;

  background-color: var(--basic-brown);
}

.search-form-open-button:hover {
  background-color: var(--basic-dark-brown);
}

.search-form-open-button:active {
  background-color: var(--basic-extra-dark-brown);
}

@keyframes appear {
  0% {
    transform: translate(-50%, -86px);
  }
  70% {
    transform: translate(-50%,30px);
  }
  90% {
    transform: translate(-50%,-10px);
  }
  100% {
    transform: translate(-50%,0);
  }
}

.search-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 568px;
  padding-top: 52px;
  padding-bottom: 55px;

  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);

  animation: appear 0.6s;
}

.search-form--hide {
  display: none;
}

.search-form-item {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding-left: 55px;
  padding-right: 55px;
}

.search-form-item:last-of-type {
  margin-bottom: 55px;
  justify-content: flex-start;
}

.input-label {
  display: block;

  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.number-kids-label {
  margin-right: 27px;
  margin-left: auto;
}

.form-input {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);

  background-color: var(--basic-light-grey);
  border: none;
}

.form-input::placeholder {
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 1;
}

.form-input:hover {
  background-color: var(--input-hover-grey);
}

.form-input:focus {
  background-color: var(--basic-white);
  outline: 2px solid var(--bacic-border-grey);
}

.input-date {
  width: 346px;
  margin: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 13px;
}

.input-date-button {
  position: absolute;
  top: 7px;
  right: 64px;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

.input-date-button:hover path {
  fill: var(--basic-black);
}

.input-date-button:active path {
  fill: var(--basic-blue);
}

.input-number-wrapper {
  display: flex;
  flex-direction: row;
  width: 114px;
}

.input-number-wrapper:first-of-type {
  margin-left: 40px;
}

.button-number {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background-color: var(--basic-light-grey);
}

.button-number:hover .button-number-icon {
  fill: var(--basic-black);
}

.button-number:active .button-number-icon {
  fill: var(--basic-blue);
}

.input-number {
  display: block;
  width: 38px;
  padding-top: 6px;
  padding-bottom: 6px;

  text-align: center;
}

.search-form-button {
  margin-left: 55px;
  margin-right: 55px;
  padding-top: 16px;
  padding-bottom: 15px;

  background-color: var(--basic-blue);
}

.search-form-button:hover {
  background-color: var(--basic-dark-blue);
}

.search-form-button:active {
  background-color: var(--basic-extra-dark-blue);
}

.map iframe {
  margin: 0;
  padding: 0;
}

/* footer */

.main-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 120px;
  padding: 0 54px;
  background-color: var(--basic-white);
  text-align: center;
}

.transparent-footer {
  position: absolute;
  bottom: 0;
  background-color: var(--transparent-footer-background);
}

.footer-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
}

.footer-contacts {
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 23px;
}

.footer-phone {
  margin-top: 9px;
  text-decoration: none;
}

.footer-phone:hover {
  color: var(--basic-blue);
}

.footer-phone:active {
  opacity: 0.3;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: var(--basic-blue);
}

.social-button:last-of-type {
  margin-right: 0;
}

.social-button:hover {
  background-color: var(--basic-dark-blue);
}

.social-button:active {
  background-color: var(--basic-extra-dark-blue);
}

.social-button:active .social-icon {
  opacity: 0.3;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copyright-link {
  margin-left: 8px;
}

.footer-copyright-link:hover path {
  fill: var(--basic-blue);
}

.footer-copyright-link:active path {
  fill: var(--copyright-logo-active);
}

/* catalog */

/* filter */

.filter-section {
  min-height: 217px;
  padding-top: 26px;
  padding-right: 73px;
  padding-left: 73px;
  color: var(--basic-white);
  background-color: var(--basic-dark);
  background-image: url(../img/background-photo-catalog.jpg);
  background-size: cover;
}

.filters-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter-fieldset {
  padding: 0;
  margin: 0;
  min-width: 254px;
  border: none;
}

.filter-fieldset:last-of-type {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: auto;
}

.legend-caption {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
}

.filter-fieldset:last-of-type .legend-caption {
  margin-bottom: 10px;
}

.fieldset-list {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 21px;
}

.filter-option {
  margin-bottom: 25px;
  padding-left: 40px;
}

.filter-option-label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-option-label::before {
  position: absolute;
  top: 0;
  left: -40px;
  width: 27px;
  height: 23px;
  content: "";
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + .filter-option-label::before {
  background-image: url(../img/checkbox-on.svg);
}

.filter-input-checkbox:disabled:not(:checked) + .filter-option-label::before {
  background-image: url(../img/checkbox-off-blocked.svg);
}

.filter-input-checkbox:disabled + .filter-option-label::before {
  background-image: url(../img/checkbox-on-blocked.svg);
}

.filter-input-checkbox:focus + .filter-option-label {
  outline: 1px solid var(--basic-black);
}

.filter-form-button {
  width: min-content;
  margin-top: 15px;
  margin-left: auto;
  margin-right: 95px;
  padding: 6px 35px;
  align-self: flex-end;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  background: none;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.filter-form-button:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

/* range-filter */

.range-filter {
  width: 317px;
}

.price-controls {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.price-controls::after {
  position: absolute;
  top: 7px;
  left: 50%;
  width: 2px;
  height: 20px;
  content: "";
  background-color: var(--basic-white);
}

.price-controls-input {
  width: 50%;
  padding-top: 5px;
  padding-bottom: 6px;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  text-align: center;
  text-transform: uppercase;
  border: none;
  background: none;
}

.price-controls-input::placeholder {
  color: var(--basic-white);
  opacity: 1;
}

.range-controls {
  position: relative;
  height: 42px;
  padding-top: 20px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--basic-white-opacity);
}

.range-controls .bar {
  width: 252px;
  height: 2px;
  background-color: var(--basic-white);
  opacity: 1;
}

.range-controls .toggle {
  position: absolute;
  top: 11px;
  left: 0;
  width: 19px;
  height: 19px;
  padding: 0;
  background-color: var(--basic-toggle-grey);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 0 0 var(--basic-toggle-shadow);
  cursor: pointer;
}

.range-controls .toggle:hover {
  transform: scale(1.21);
}

.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 252px;
}

/* sort */

.sort-section {
  display: grid;
  grid-template-columns: 163px 1fr 1fr;
  padding-top: 28px;
  padding-right: 73px;
  padding-bottom: 29px;
  padding-left: 73px;
  background-color: var(--basic-white);
  border-bottom: 1px solid var(--bacic-border-grey);
}

.sort-types {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  font-size: 12px;
  line-height: 18px;
}

.sort-type {
  margin-left: 33px;
  color: var(--basic-black);
  opacity: 0.3;
  border-bottom: 1px dashed var(--basic-blue);
}

.sort-type:hover {
  color: var(--basic-blue);
  opacity: 1;
}

.sort-type:active {
  color: var(--basic-black);
  border: none;
}

.sort-type:first-of-type {
  margin-left: 40px;
}

.current-sort-type {
  color: var(--basic-blue);
  opacity: 1;
  border: none;
}

.sort-direction {
  padding-top: 3px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.direction-item {
  margin-left: 12px;
}

.direction-item:hover path {
  fill: var(--basic-black);
}

.direction-item:active path {
  fill: var(--basic-blue);
}

.current-direction path {
  fill: var(--basic-blue);
}

/* hotels list  */

.search-result-section {
  background-color: var(--basic-white);
}

.search-result-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(1fr);
  list-style: none;
}

.search-result-item {
  padding-top: 20px;
  padding-right: 73px;
  padding-bottom: 30px;
  padding-left: 73px;
  min-height: 150px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  box-shadow: inset 0 -1px 0 0 var(--bacic-border-grey);
}

.item-photo {
  display: block;
  align-self: flex-end;
}

.item-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 30px;
}

.item-order {
  margin-left: 6px;
}

.item-name {
  margin: 0;
  padding: 0;
  line-height: 24px;
}

.item-link {
  margin-bottom: 4px;
}

.item-link:hover .item-name {
  color: var(--basic-blue);
}

.item-link:active .item-name {
  color: var(--basic-black-opacity);
}

.item-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.item-info-text {
  display: block;
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
}

.hotel-button {
  display: block;
  padding-top: 2px;
  padding-right: 16px;
  padding-bottom: 3px;
  padding-left: 16px;
  font-size: 14px;
  line-height: 21px;
}

.info-button {
  background-color: var(--basic-blue);
}

.info-button:hover {
  background-color: var(--basic-dark-blue);
}

.info-button:active {
  background-color: var(--basic-extra-dark-blue);
  color: var(--basic-white-opacity);
}

.order-button {

  background-color: var(--basic-brown);
}

.order-button:hover {
  background-color: var(--basic-dark-brown);
}

.order-button:active {
  background-color: var(--basic-extra-dark-brown);
  color: var(--basic-white-opacity);
}

/* rating stars */

.item-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: max-content;
  margin-left: auto;
}

.rating-stars-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  list-style: none;
}

.rating-stars-item {
  display: block;
  width: 17px;
  height: 17px;
  margin: 0;
  margin-right: 6px;
  padding: 0;
  background-image: url(../img/rating-star.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.rating-stars-item:last-of-type {
  margin-right: 0;
}

.item-rating-value {
  margin: 0;
  padding: 3px 13px;
  color: var(--basic-rating);
  background-color: var(--basic-light-grey);
  font-size: 14px;
  line-height: 21px;
}


/* catalog footer */

.catalog-footer {
  padding-top: 10px;
}

.catalog-footer .footer-contacts {
  padding-top: 14px;
}
