/* Variables */

:root {
  --basic-black: #000000;
  --basic-black-opacity: RGBA(0, 0, 0, 0.3);
  --basic-dark: #333333;
  --basic-rating: #666666;

  --basic-light-grey: #F2F2F2;

  --input-hover-grey: #EBEBEB;

  --basic-grey: #EEEEEE;
  --bacic-border-grey: #E5E5E5;
  --copyright-logo-active: #BDBBBC;

  --basic-white: #ffffff;
  --basic-white-opacity: RGBA(255,255,255,0.3);

  --basic-blue: #81B3D2;
  --basic-dark-blue: #669EC0;
  --basic-extra-dark-blue: #5496BD;

  --basic-brown: #766357;
  --basic-dark-brown: #604E43;
  --basic-extra-dark-brown: #503E33;
}


/* global */

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-dark);
  text-transform: uppercase;

  background: var(--basic-light-grey);
}

.button {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-dark);
  border: none;
  cursor: pointer;
}

.button:active {
  color: var(--basic-white-opacity);
}

/* grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  padding-left: 40px;
  padding-right: 40px;
}

/* caption */

.caption {
  margin: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* navigation */

.main-navigation {
  display: grid;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  position: relative;
}

.main-header-logo {
  display: block;
  position: absolute;
  transform: translatex(-50%);
  left: 50%;
  z-index: 2;
}

.site-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 73px;
  padding-right: 73px;
  list-style: none;
  margin: 0;
}

.site-navigation-item:nth-child(4n-1), .site-navigation-item:nth-child(4n) {
  text-align: end;
}

.site-navigation-link {
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  font-weight: bold;
  text-decoration: none;
  color: var(--basic-black);
}

.site-navigation-link:not([href]) {
  color: var(--basic-brown);
}

.site-navigation-link:hover {
  color: var(--basic-blue);
}

.site-navigation-link:active {
  opacity: 0.3;
}



/* common */

.common-section {
  background-color: var(--basic-white);
  text-align: center;
}

.banner-wrapper {
  min-height: 509px;
  padding-top: 76px;
  background-color: var(--basic-light-grey);
  background-image: url(../img/background-photo-index.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.banner-wrapper::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 57px;
  bottom: 0px;
  background-image: url(../img/background-index-mask.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.common-section-description {
  padding-top: 42px;
  padding-bottom: 48px;
}

.common-section-text {
  margin: 0;
  margin-top: 48px;
}

/* advantages */

.advantages-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.advantage-item {
  text-align: center;
}

.advantage-item:nth-of-type(1), .advantage-item:nth-of-type(2) {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  grid-column-start: 1;
  grid-column-end: -1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: min-content;
}

.advantage-item:nth-of-type(1) .advantage-item-photo {
  grid-column-start: 2;
  grid-column-end: 4;
}

.advantage-item:nth-of-type(2) .advantage-item-photo {
  order: -1;
  grid-column-start: 1;
  grid-column-end: 3;
}

.advantage-item-photo {
  height: 256px;
}

.advantage-item-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 256px;
  padding-right: 50px;
  padding-left: 50px;
}

.advantage-caption {
  color: var(--basic-white);
}

.advantage-item-number {
  margin-top: 29px;
  margin-bottom: 29px;
}

.advantage-text {
  margin: 0;
}

.features-list {
  grid-column-start: 1;
  grid-column-end: -1;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.feature-item {
  position: relative;
  text-align: center;
  color: var(--basic-dark);
  background-color: var(--basic-white);
  padding-top: 160px;
  padding-bottom: 82px;
}

.feature-item::before {
  position: absolute;
  content: "";
  left: 50%;
  transform: translatex(-50%);
}

.feature-item-residence::before {
  top: 60px;
  width: 75px;
  height: 72px;
  background-image: url(../img/house-icon.svg);
}

.feature-item-food::before {
  top: 62px;
  width: 75px;
  height: 70px;
  background-image: url(../img/food-icon.svg);
}

.feature-item-souvenirs::before {
  top: 55px;
  width: 64px;
  height: 77px;
  background-image: url(../img/gift-icon.svg);
}

.feature-text {
  margin: 0;
  margin-top: 29px;
}

/* search-section */

.search-section{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  background-color: var(--basic-white);
  text-align: center;
}

.slogan-caption {
  margin-top: 61px;
}

.slogan-text {
  margin: 0;
  margin-top: 37px;
  padding: 0;
}

.search-form-wrapper {
  position: relative;
  min-width: 568px;
}

.search-form-open-button {
  width: 100%;
  margin-top: 46px;
  padding-top: 31px;
  padding-bottom: 31px;

  background-color: var(--basic-brown);
}

.search-form-open-button:hover {
  background-color: var(--basic-dark-brown);
}

.search-form-open-button:active {
  background-color: var(--basic-extra-dark-brown);
}

.search-form {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  padding-top: 55px;
  padding-bottom: 55px;

  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.search-form-item {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 55px;
  padding-right: 55px;
}

.search-form-item:not(:first-child) {
  margin-top: 30px;
}

.input-label {
  display: block;

  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.form-input {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);

  background-color: var(--basic-light-grey);
  border: none;
}

.form-input:hover {
  background-color: var(--input-hover-grey);
}

.form-input:focus {
  background-color: var(--basic-white);
  outline: 2px solid var(--bacic-border-grey);
}

.input-date {
  width: 346px;
  margin: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 13px;
}

.input-date-icon {
  position: absolute;
  top: 7px;
  right: 64px;
}

.input-date:hover + .input-date-icon path {
  fill: var(--basic-black);
}

.input-date:active + .input-date-icon path {
  fill: var(--basic-blue);
}

.input-number-wrapper {
  display: flex;
  flex-direction: row;
  width: 114px;
}

.button-number {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background-color: var(--basic-light-grey);
}

.button-number:hover .button-number-icon {
  fill: var(--basic-black);
}

.button-number:active .button-number-icon {
  fill: var(--basic-blue);
}

.input-number {
  display: block;
  width: 38px;
  padding-top: 6px;
  padding-bottom: 6px;

  text-align: center;
}

.search-form-button {
  padding-top: 16px;
  padding-bottom: 15px;
  width: 100%;

  background-color: var(--basic-blue);
}

.search-form-button:hover {
  background-color: var(--basic-dark-blue);
}

.search-form-button:active {
  background-color: var(--basic-extra-dark-blue);
}

/* footer */

.main-footer {
  display: flex;
  justify-content: center;

  min-height: 120px;
  padding: 0 73px;

  background-color: var(--basic-white);
  text-align: center;
}

.footer-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: calc(100% / 3);
}

.footer-contacts {
  flex-direction: column;

  text-align: center;
}

.footer-phone {
  margin-top: 9px;
  text-decoration: none;
}

.footer-phone:hover {
  color: var(--basic-blue);
}

.footer-phone:active {
  opacity: 0.3;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: var(--basic-blue);
}

.social-button:nth-last-child() {
  margin-right: 0;
}

.social-button:hover {
  background-color: var(--basic-dark-blue);
}

.social-button:active {
  background-color: var(--basic-extra-dark-blue);
}

.social-button:active .social-icon {
  opacity: 0.3;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copyright-link {
  margin-left: 8px;
}

.footer-copyright-link:hover path {
  fill: var(--basic-blue);
}

.footer-copyright-link:active path {
  fill: var(--copyright-logo-active);
}

/* catalog */

/* filter */

.filter-section {
  padding-top: 26px;
  padding-right: 73px;
  padding-left: 73px;
  min-height: 217px;

  background-color: var(--basic-dark);
  color: var(--basic-white);
  background-image: url(../img/background-photo-catalog.jpg);
  background-size: cover;
}

.filters-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.filter-fieldset {
  padding: 0;
  margin: 0;
  margin-right: 120px;
  min-width: 254px;
  border: none;
}

.filter-fieldset:nth-of-type(3n) {
  margin-right: 0;
  align-self: auto;
  text-align: right;
}

.legend-caption {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
}

.fieldset-list {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 21px;
}

.filter-option {
  margin-bottom: 25px;
  padding-left: 40px;
}

.filter-option-label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-option-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + .filter-option-label::before {
  background-image: url(../img/checkbox-on.svg);
}

.filter-input-checkbox:disabled:not(:checked) + .filter-option-label::before {
  background-image: url(../img/checkbox-off-blocked.svg);
}

.filter-input-checkbox:disabled + .filter-option-label::before {
  background-image: url(../img/checkbox-on-blocked.svg);
}

.filter-form-button {
  margin-top: 23px;
  padding: 7px 35px;
  width: min-content;
  background: none;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.filter-form-button:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

/* sort */

.sort-section {
  padding-top: 30px;
  padding-right: 73px;
  padding-bottom: 32px;
  padding-left: 72px;

  display: flex;

  background-color: var(--basic-white);
  border-bottom: 1px solid var(--bacic-border-grey);
}

/* hotels list  */

.search-result-section {
  background-color: var(--basic-white);
}

.search-result-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(1fr);
}

.search-result-item {
  padding-top: 30px;
  padding-right: 73px;
  padding-bottom: 30px;
  padding-left: 72px;
  border-bottom: 1px solid var(--bacic-border-grey);
  display: flex;
  justify-content: flex-start;
}

.item-info {
  position: relative;
  padding-left: 164px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-order {
  margin-left: 6px;
}

.item-name {
  margin-bottom: 7px;
}

.item-link:hover .item-name {
  color: var(--basic-blue);
}

.item-link:active .item-name {
  color: var(--basic-black-opacity);
}

.item-photo {
  position: absolute;
  left: 0;
  bottom: 0;
}

.item-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.item-info-text {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.hotel-button {
  padding: 3px 16px;
  font-size: 14px;
  line-height: 21px;
}

.info-button {
  background-color: var(--basic-blue);
}

.info-button:hover {
  background-color: var(--basic-dark-blue);
}

.info-button:active {
  background-color: var(--basic-extra-dark-blue);
  color: var(--basic-white-opacity);
}

.order-button {
  background-color: var(--basic-brown);
}

.order-button:hover {
  background-color: var(--basic-dark-brown);
}

.order-button:active {
  background-color: var(--basic-extra-dark-brown);
  color: var(--basic-white-opacity);
}

/* rating stars */

.item-rating {
  width: max-content;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.rating-stars {
  margin: 0;
  padding: 0;
}

.item-rating-value {
  color: var(--basic-rating);
  background-color: var(--basic-light-grey);

  margin: 0;
  padding: 0;
}
